/*!
 * Minify by http://www.MinifyWeb.com/
 */
#main{height:90%;text-align:center;position:relative}#link{position:absolute;top:30%;left:40%}footer{position:absolute;bottom:0}a{color:#DDD}a:hover{color:red}